.contacts
    padding: 40px 0 80px 0
    background: $main-bacground-color
    &-wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2 , 1fr)
    &__title
        font-weight: bold
        font-size: 48px
        line-height: 57px
        color: $main-text-color
    &__form
        grid-column: 3
        grid-row: 1/3
        padding: 0 95px 0 95px
        &-title
            margin-bottom: 52px
            font-weight: 600
            font-size: 18px
            line-height: 21px
            color: $main-text-color
        &-inputname
            margin-top: 27px
        &-submit
            display: block
            +btn
            border-radius: 100px
            margin-top: 44px
            width: 391px
            height: 66px
            font-weight: 600
            font-size: 16px
            line-height: 19px
            text-transform: none
            color: #F2F2F2
            background-image: url(../icons/submit-form-logo.svg)
            background-repeat: no-repeat
            background-position: 26px 23px
            background-size: 24px 24px
        &-checkbox
            &>input
                -moz-appearance: none
                -webkit-appearance: none
                appearance: none
            &>span
                display: inline-flex
                align-items: center
                user-select: none
                margin-top: 30px
            //создание в label псевдоэлемента before со следующими стилями
            &>span::before
                content: ''
                display: inline-block
                width: 0.7em
                height: 0.7em
                flex-shrink: 0
                flex-grow: 0
                border: 1px solid #4444
                border-radius: 0.25em
                margin-right: 0.5em
                background-repeat: no-repeat
                background-position: center center
                background-size: 50% 50%
            //стили при наведении курсора на checkbox 
            &>input:not(:disabled):not(:checked)+span:hover::before
                border-color: #b3d7ff
            // стили для активного чекбокса (при нажатии на него)
            &>input:not(:disabled):active+span::before
                background-color: #b3d7ff
                border-color: #b3d7ff
            // стили для чекбокса, находящегося в фокусе 
            &>input:focus+span::before
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
            // стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked
            &>input:focus:not(:checked)+span::before 
                border-color: #80bdff
            //стили для чекбокса, находящегося в состоянии checked
            &>input:checked+span::before
                border-color: #0b76ef
                background-color: #0b76ef
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
            //стили для чекбокса, находящегося в состоянии disabled
            &>input:disabled+span::before
                background-color: #e9ecef
            &>span
                font-weight: 600
                font-size: 12px
                line-height: 14px
                color: #7E868E
                
    &__social
        grid-column: 1
        place-self: end
        margin-bottom: 43px
        &-title
            font-weight: 600
            font-size: 16px
            line-height: 19px
            color: $form-text-color
        &-list
            display: flex
            list-style-type: none
            margin-top: 14px
        &-item
            margin: 0
            &:not(:last-child)
                margin-right: 20px
        &-link
            display: flex
            flex-direction: column
            text-decoration: none
            
            
        &-img
            padding: 20px
            width: 87px
            height: 87px
            background: #D6D6D6
            border-radius: 50%
            object-fit: scale-down
        &-name
            margin-top: 6px
            font-weight: 600
            font-size: 16px
            line-height: 19px
            color: #565E66