*
    font-family: 'SF Pro Display', sans-serif
    box-sizing: border-box
    margin: 0 auto
    padding: 0
    border: 0
    outline: none
.container
    width: 1440px
.title
    margin-top: 40px
    font-weight: 600
    font-size: 38px
    line-height: 45px
    text-align: center
    color: #333333