*
    font-family: 'SF Pro Display', sans-serif
    box-sizing: border-box
    margin: 0 auto
    padding: 0
    border: 0
    outline: none
.container
<<<<<<< HEAD
    width: 1160px
.title
=======
    width: 1440px
.title
    margin-top: 40px
>>>>>>> faf84d6008731b9bde0b75f96a1e66fe734d5b0c
    font-weight: 600
    font-size: 38px
    line-height: 45px
    text-align: center
<<<<<<< HEAD
    color: #333333

.card
    margin: 0
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    width: 502px
    height: 360px
    border-radius: 10px
    &-text
        font-weight: 600
        font-size: 24px
        line-height: 29px
        color: #FFFFFF
        text-align: center
        vertical-align: center
    &-btn
        position: absolute
        bottom: 32px
        left: 32px
        width: 86px
        height: 86px
        cursor: pointer

=======
    color: #333333
>>>>>>> faf84d6008731b9bde0b75f96a1e66fe734d5b0c
